<div class="jumbotron">
  <div class="row">
    <div class="col-sm-2">
      <img class="square-circle" src="assets/img/RPozzi_foto.jpg"
        alt="Robi profile photo" width="140" height="140">
    </div>
    <div class="col-sm-8">
      <p>
        <em>I currently work as Cloud Solution Architect with assigned clients and business partners to help them get the highest value from 
          adopting Cloud Native Platforms and DevOps practices to quickly translate ideas into actionable applications and services..
        </em>
      </p>
      
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-4">
      <img class="square-circle" src="assets/img/user.png" alt="Generic placeholder image" width="140" height="140">
      <!--h2>{{home.heading1}}</h2-->
      <p>
        <em>I have been working for almost 20 years in the IT software and services space,
            covering a broad spectrum of roles, from programming to presales and solution design.
        </em>
      </p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="square-circle" src="assets/img/user.png" alt="Generic placeholder image" width="140" height="140">
      <!--h2>{{home.heading1}}</h2-->
      <p>
        <em>I like watching sports and in my spare time I love to practice sailing activities, either sailboat and windsurf; 
          I hold a sail license and whenever I can I rent a boat to sail in the sun pushed by the wind ...
        </em>
      </p>
      <p>
        <em>... but I also like reading a good book relaxed on a comfortable armchair
        </em>
      </p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="square-circle" src="assets/img/user.png" alt="Generic placeholder image" width="140" height="140">
      <!--h2>{{home.heading1}}</h2-->
      <p>
        <em>I love spend my vacation travelling and getting to know new places
        </em>
      </p>
    </div><!-- /.col-lg-4 -->
  </div>
</div>