<div class="jumbotron">
  <div class="row">
    <div class="col-sm-2">
      <img class="square-circle" src="https://s3.eu-central-1.amazonaws.com/robipozzi/RPozzi_foto.jpg"
        alt="Robi profile photo" width="140" height="140">
    </div>
    <div class="col-sm-8">
      <p>
        <em>I currently work as Cloud Architect, helping customers adopting IBM platform in their environment,
            providing solution design and validating by leading Prood of Concepts.
        </em>
      </p>
      <p>
        <em>I have been working for almost 20 years in the IT software and services space,
            covering a broad spectrum of roles, from programming to presales and solution design.
        </em>
      </p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-4">
      <img class="square-circle" src="https://s3.eu-central-1.amazonaws.com/robipozzi/user.png" alt="Generic placeholder image" width="140" height="140">
      <!--h2>{{home.heading1}}</h2-->
      <p>Something about myself</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="square-circle" src="https://s3.eu-central-1.amazonaws.com/robipozzi/user.png" alt="Generic placeholder image" width="140" height="140">
      <!--h2>{{home.heading1}}</h2-->
      <p>Something about myself</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="square-circle" src="https://s3.eu-central-1.amazonaws.com/robipozzi/user.png" alt="Generic placeholder image" width="140" height="140">
      <!--h2>{{home.heading1}}</h2-->
      <p>Something about myself</p>
    </div><!-- /.col-lg-4 -->
  </div>
</div>
