<div id="carouselExampleControls" class="bg-secondary carousel slide carousel-fade" data-ride="carousel" data-interval="1500">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <a routerLink="/mytravel/greece" routerLinkActive="active">
        <img class="rounded mx-auto d-block img-fluid img-thumbnail" src="assets/img/greece2018.png" alt="First slide">
        <div class="carousel-caption">
          <h4>Grecia 2018</h4>
        </div>
      </a>
    </div>
    <div class="carousel-item">
      <a routerLink="/mytravel/monaco" routerLinkActive="active">
        <img class="rounded mx-auto d-block img-fluid img-thumbnail" src="assets/img/munchen2018.png" alt="Second slide">
        <div class="carousel-caption">
          <h4>Monaco di Baviera 2018</h4>
        </div>
      </a>
    </div>
    <div class="carousel-item">
      <a routerLink="/mytravel/puglia" routerLinkActive="active">
        <img class="rounded mx-auto d-block img-fluid img-thumbnail" src="assets/img/puglia2017.png" alt="Third slide">
        <div class="carousel-caption">
          <h4>Puglia 2017</h4>
        </div>
      </a>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="false"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="false"></span>
    <span class="sr-only">Next</span>
  </a>
</div>